.nav-cont {
  width: 100%;
  height: auto;
  display: flex;
  background: #100c0d;
  opacity: 0.9;
  position: fixed;
  justify-content: space-evenly;
}
.logo > img {
  width: 6em;
  height: 8em;
}
.logo {
  width: 20%;
}

.nav-links {
  display: flex;
  margin-top: 1em;
}

.nav-links > ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
}
.nav-links > ul > li > a {
  list-style: none;
  text-decoration: none;
  font-size: 1.5em;
  color: #ffffff;
  font-weight: 600;
  margin: 2em;
}
.nav-links>ul>li :hover{
  color: #203d46;
}
.hidden-menu{
  display: none;
  position: fixed;
  top: 88%;
  left: 10%;
  width: 80%;
  height: 5em;
  background-color:#38798c ;
  border-radius: 5em;
  
}
.hidden-menu >a >input{
  width: 3em;
  margin: 1.4em;
}
@media (max-width: 1000px) {
  .logo {
    margin-left: 1em;
  }
}
@media (max-width: 830px) {
  .nav-links {
    display: none;
  }
  .logo {
    justify-content: center;
    margin: 0;
  }
  .hidden-menu{
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width:360px){
  .hidden-menu> a >input{
    width: 2em;
    margin: 0;
    margin-top: .5em;
  }
  .hidden-menu{
    height: 3em;
    top: 90%;
  }
}

html {
  scroll-behavior: smooth;
}

#section1 {
  height: 600px;
}

#section2 {
  height: 600px;
  background-color: yellow;
}